<%- include('header.html'); -%>
    <hr>
    <% var total=0 %>
    <% for(i in cart) { %>
      <% var subtotal = cart[i].quantity * cart[i].price %>
    <div class="card w-100">
      <div class="row no-gutters">
        <div class="col-md-4 cartimg">
          <img class="cartimg" src= <%= cart[i].image %> class="card-img" alt="cartProductImage">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= cart[i].name %></h5>
            <div style="text-align:right">
              <p class="card-text">Quantity: <%= cart[i].quantity %><br>Price: ₹<%= cart[i].price %><br>Subtotal: ₹<%= subtotal %></p>
              <% total+= subtotal%>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div style="height:5px"></div>
      <% } %>
      <hr>
      <div style="text-align:right">
        <h3>Total: ₹<%=total%></h3>
        <form class="" action="/" method="post">
          <input type="submit" name="" class="btn btn-dark" value="Proceed">
        </form>
      </div>










    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>

</html>
